        <footer class="footer">
            <div>
                <p class="footerLabel">&copy; BlogChain 2018 | <a href="/dashboard">Home</a></p>
            </div>
        </footer>
    </body>
</html>
