        <footer class="footer">
            <div class="container">
                <p class="footerLabel">&copy; BlogChain 2018 | <a href="/blogchainmain">Home</a></p>
            </div>
        </footer>
    </body>
</html>
