<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>BlogChain</title>
        <meta name="description" content="Cloud Computing Project">
        <meta name="author" content="Team BlogChain">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">BlogChain</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Register User</a></li>
                </ul>
            </div>
      </nav>
        <div class="container">
            <div class="row z-depth-4">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s8">
                            <input placeholder="Please enter your email" id="email" type="email" class="validate"/>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8">
                            <input placeholder="Please enter your password" id="password" type="password" class="validate"/>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <input class="btn" type="submit"/>
                    </div>
                </form>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    </body>
</html>
