<!-- 
	Note to self: Eventually I'll need to figure out a way to add an 
	arbitrary amount of containers to the view. This is probably easy to
	do; it just involves front-end stuff I don't understand.

	Theory: Load an empty view and populate it with dynamic divs elsewhere.
	This file will probably end up being pretty small (header and a container
	for the coin list)
-->

<div class="container">
	<h1>Currencies</h1>
    <form action="/dashboard" method="POST" name="refreshPrices">
		<a href="#" class="waves-effect waves-light btn" onclick="document.refreshPrices.submit();">
            <i class="material-icons left">trending_up</i>
            Refresh Prices
        </a>
    </form>
</div>

<-- Probably not needed -->
<div class="container">

	<b>Exchange:</b> <input id="last" type="text" value="gdax" readonly> <br>
  	<b>Pair:</b> <input id="last" type="text" value="btcusd" readonly> <br>
  	<b>Last:</b> <input id="last" type="text" value="" readonly> <br>
  	<b>Highest:</b> <input id="high" type="text" value="" readonly> <br>
  	<b>Lowest:</b> <input id="low" type="text" value="" readonly> <br>
  	<b>Volume:</b> <input id="vol" type="text" value="" readonly> <br>

</div>

	