<% include ../partials/header %>

<div class="container">
    <h1 class="center">Create a New Blog</h1>
    <form action="/blogs" method="POST" enctype="multipart/form-data">
        <textarea id="textarea1" class="materialize-textarea" name="name" minlength="2" maxlength="50" required></textarea>
        <label for="textarea1">Title</label>
        <textarea id="textarea2" class="materialize-textarea" name="description" minlength="20" maxlength="1000" required></textarea>
        <label for="textarea2">Content</label>
        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file" name="image" accept="image/png, image/jpeg, image/jpg, image/gif">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload your image">
            </div>
        </div>
        <button class="waves-effect waves-light btn">Submit <i class="material-icons right">send</i></button>
    </form>
    <a class="btn right" href="/blogs">Go Back</a>
</div>

<% include ../partials/footer %>
