<% include ../partials/header %>

    <body> 
        <div class="header">
            <h2>Your Profile</h2>
        </div>
        <div class="container">
          <!--<div class="leftcolumn">
            <div class="posts">
            <h3>Your Blog Posts</h3>
          </div>-->
            <div class="section">
              <h2>User Info</h2>
                <p>Name</p>
                  <input type="text" name="name">
                <p>Location:</p>
                  <input type="text" name="location">
                <p>Wallet:</p>
                  <input type="text" name="wallet">
            </div>
        </div>
        <% if(currentUser){ %>
            <div class="ceter-align">
                <form action="/user/<%=currentUser.username%>/profile/?_method=DELETE" method="POST" class="delete-form">
                    <button class="waves-effect waves-light btn red">Danger: Delete Profile</button>
                </form>
            </div>
            <div class="center-align">
                <form action="/user/<%=currentUser.username%>/update" method="GET" class="update-form">
                    <button class="waves-effect waves-light btn blue-grey lighten-1">Update Username</button>
                </form>
            </div>
        <% } %>
    </body>

<% include ../partials/footer %>
